In [1]:
import pandas as pd

data = {
    'Apples': [30],
    'Bananas': [21]
}

fruits = pd.DataFrame(data)
fruits

   Apples  Bananas
0      30       21

In [2]:
import pandas as pd

data = {
    'Apples': [35, 41],
    'Bananas': [21, 34]
}

index_labels = ['2017 Sales', '2018 Sales']

fruit_sales = pd.DataFrame(data, index=index_labels)
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [3]:
import pandas as pd

ingredients = pd.Series(
    data=['4 cups', '1 cup', '2 large', '1 can'],
    index=['Flour', 'Milk', 'Eggs', 'Spam'],
    name='Dinner'
)

print(ingredients)

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [4]:
import pandas as pd

animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19

In [5]:
import pandas as pd
import numpy as np  # For NaN values

data = {
    'country': ['Portugal', 'US', 'US', 'Spain', 'Germany'],
    'description': [
        'This is ripe and fruity, a wine that is smooth...',
        'Tart and snappy, the flavors of lime flesh and...',
        'Pineapple rim, lemon pith and orange blossom...',
        'Blackberry and raspberry aromas show a typical...',
        'Savory dried thyme notes, accent sunnier flavor...'
    ],
    'designation': ['Avidaços', np.nan, 'Reserve Late Harvest', 'Ars In Vitro', 'Shine'],
    'points': [87, 87, 87, 87, 87],
    'price': [15.0, 14.0, 13.0, 15.0, 12.0],
    'province': ['Douro', 'Oregon', 'Michigan', 'Northern Spain', 'Rheinhessen'],
    'region_1': [np.nan, 'Willamette Valley', 'Lake Michigan Shore', 'Navarra', np.nan],
    'region_2': [np.nan, 'Willamette Valley', np.nan, np.nan, np.nan],
    'taster_name': ['Roger Voss', 'Paul Gregutt', 'Alexander Peartree', 'Michael Schachner', 'Anna Lee C. Iijima'],
    'taster.twitter.handle': ['@vossroger', '@paulgwine', np.nan, '@wineschach', np.nan]
}

sample_reviews = pd.DataFrame(data, index=[1, 2, 3, 5, 6])
sample_reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster.twitter.handle
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidaços,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine
3,US,"Pineapple rim, lemon pith and orange blossom...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN
5,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87,15.0,Northern Spain,Navarra,NaN,Michael Schachner,@wineschach
6,Germany,"Savory dried thyme notes, accent sunnier flavo...",Shine,87,12.0,Rheinhessen,NaN,NaN,Anna Lee C. Iijima,NaN

In [6]:
import pandas as pd
import numpy as np

# Create the DataFrame with the specified data
data = {
    'country': ['Italy', 'Portugal', 'US', 'US'],
    'province': ['Sicily & Sardinia', 'Douro', 'California', 'New York'],
    'region_1': ['Etna', np.nan, 'Napa Valley', 'Finger Lakes'],
    'region_2': [np.nan, np.nan, 'Napa', 'Finger Lakes']
}

# Set the index labels to 0, 1, 10, and 100
df = pd.DataFrame(data, index=[0, 1, 10, 100])

# Display the DataFrame
df

      country           province      region_1      region_2
0       Italy  Sicily & Sardinia          Etna           NaN
1    Portugal              Douro           NaN           NaN
10         US         California   Napa Valley          Napa
100        US           New York  Finger Lakes  Finger Lakes

In [7]:
import pandas as pd
import numpy as np

# Create sample data
data = {
    'country': ['Italy', 'France', 'Italy', 'US', 'Italy'],
    'points': [90, 88, 92, 85, 89],
    'price': [30, 45, 40, 35, 50]
}

reviews = pd.DataFrame(data)

# Filter Italian wines
italian_wines = reviews[reviews['country'] == 'Italy']
italian_wines

  country  points  price
0   Italy      90     30
2   Italy      92     40
4   Italy      89     50

In [8]:
import pandas as pd
import numpy as np

# Create sample wine review data
data = {
    'country': ['Australia', 'New Zealand', 'France', 'Australia', 'Italy', 
               'New Zealand', 'Australia', 'US', 'New Zealand', 'Spain'],
    'points': [96, 95, 90, 97, 92, 96, 95, 94, 97, 91],
    'price': [65.0, 45.0, 78.0, 89.0, 55.0, 62.0, 58.0, 47.0, 72.0, 38.0],
    'province': ['Victoria', 'Marlborough', 'Bordeaux', 'South Australia',
                'Tuscany', 'Marlborough', 'Western Australia', 'California',
                'Central Otago', 'Rioja'],
    'variety': ['Shiraz', 'Sauvignon Blanc', 'Merlot', 'Cabernet Sauvignon',
               'Sangiovese', 'Pinot Noir', 'Chardonnay', 'Zinfandel',
               'Pinot Noir', 'Tempranillo']
}

reviews = pd.DataFrame(data)

# Filter for top Oceania wines (95+ points from Australia or New Zealand)
top_oceania_wines = reviews[
    (reviews['points'] >= 95) & 
    (reviews['country'].isin(['Australia', 'New Zealand']))
].copy()

# Display results
print("Top Oceania Wines (95+ points):")
print(f"Found {len(top_oceania_wines)} matching wines")
print("\nCountries represented:", top_oceania_wines['country'].unique())
print("Points range:", top_oceania_wines['points'].min(), "to", top_oceania_wines['points'].max())
print("\nSample results:")
display(top_oceania_wines.head())

Top Oceania Wines (95+ points):
Found 6 matching wines

Countries represented: ['Australia' 'New Zealand']
Points range: 95 to 97

Sample results:

       country  points  price           province             variety
0    Australia      96   65.0           Victoria              Shiraz
1  New Zealand      95   45.0        Marlborough     Sauvignon Blanc
3    Australia      97   89.0    South Australia  Cabernet Sauvignon
5  New Zealand      96   62.0        Marlborough          Pinot Noir
6    Australia      95   58.0  Western Australia          Chardonnay

In [9]:
import pandas as pd

# Create sample wine reviews data
data = {
    'country': ['Italy', 'France', 'US', 'Spain', 'Australia', 'New Zealand'],
    'points': [87, 92, 88, 85, 95, 93],
    'price': [25.0, 32.0, 28.0, 20.0, 40.0, 35.0]
}

# Create DataFrame
reviews = pd.DataFrame(data)

# Calculate median of points column
points_median = reviews['points'].median()

# Print result
print(f"The median of the points column is: {points_median}")

The median of the points column is: 90.0

In [10]:
import pandas as pd

# Create sample data (replace this with your actual data loading if needed)
data = {
    'country': ['Italy', 'France', 'US', 'Spain', 'Australia', 
               'New Zealand', 'Italy', 'France', 'Portugal']
}
reviews = pd.DataFrame(data)

# Get unique countries
unique_countries = reviews['country'].unique()

# Display results
print("Countries represented in the dataset:")
print(unique_countries)

# Alternative sorted output:
print("\nCountries (sorted):")
print(sorted(unique_countries))

Countries represented in the dataset:
['Italy' 'France' 'US' 'Spain' 'Australia' 'New Zealand' 'Portugal']

Countries (sorted):
['Australia', 'France', 'Italy', 'New Zealand', 'Portugal', 'Spain', 'US']

In [11]:
import pandas as pd

# Create sample data (replace with your actual data loading if needed)
data = {
    'country': ['Italy', 'France', 'US', 'Spain', 'Australia', 
               'New Zealand', 'Italy', 'France', 'Portugal', 'US',
               'Italy', 'France', 'US', 'Spain', 'Italy']
}
reviews = pd.DataFrame(data)

# Create Series mapping countries to review counts
reviews_per_country = reviews['country'].value_counts()

# Display results
print("Number of reviews per country:")
print(reviews_per_country)

# Optional: Sort alphabetically by country name
print("\nSorted by country name:")
print(reviews_per_country.sort_index())

Number of reviews per country:
Italy          4
US             3
France         3
Spain          2
Portugal       1
Australia      1
New Zealand    1
Name: country, dtype: int64

Sorted by country name:
Australia      1
France         3
Italy          4
New Zealand    1
Portugal       1
Spain          2
US             3
Name: country, dtype: int64

In [12]:
import pandas as pd

# Create sample data (replace with your actual data if needed)
data = {
    'price': [20, 35, 50, 65, 80, 95, 110]
}
reviews = pd.DataFrame(data)

# Calculate centered prices
mean_price = reviews['price'].mean()
centered_price = reviews['price'] - mean_price

# Display results
print(f"Original prices:\n{reviews['price']}")
print(f"\nMean price: {mean_price:.2f}")
print(f"\nCentered prices:\n{centered_price}")

# Verify mean of centered prices is (nearly) zero
print(f"\nMean of centered prices: {centered_price.mean():.2f} (should be very close to 0)")

Original prices:
0     20
1     35
2     50
3     65
4     80
5     95
6    110
Name: price, dtype: int64

Mean price: 65.00

Centered prices:
0   -45.0
1   -30.0
2   -15.0
3     0.0
4    15.0
5    30.0
6    45.0
Name: price, dtype: float64

Mean of centered prices: 0.00 (should be very close to 0)

In [13]:
import pandas as pd

# Create sample data (replace with your actual data if needed)
data = {
    'title': ['Château Lafite', 'Two Buck Chuck', 'Vega Sicilia', 'Yellow Tail'],
    'points': [95, 85, 98, 88],
    'price': [900, 5, 350, 12]
}
reviews = pd.DataFrame(data)

# Calculate points-to-price ratio
reviews['value_ratio'] = reviews['points'] / reviews['price']

# Find the best bargain
bargain_idx = reviews['value_ratio'].idxmax()
bargain_wine = reviews.loc[bargain_idx, 'title']

# Display results
print("All wines with their value ratios:")
print(reviews[['title', 'points', 'price', 'value_ratio']].sort_values('value_ratio', ascending=False))
print(f"\nBest bargain wine: '{bargain_wine}'")
print(f"Its points-to-price ratio: {reviews.loc[bargain_idx, 'value_ratio']:.2f}")

All wines with their value ratios:
            title  points  price  value_ratio
1  Two Buck Chuck      85      5    17.000000
3     Yellow Tail      88     12     7.333333
2    Vega Sicilia      98    350     0.280000
0  Château Lafite      95    900     0.105556

Best bargain wine: 'Two Buck Chuck'
Its points-to-price ratio: 17.00

In [14]:
import pandas as pd

# Create sample data (replace with your actual data if needed)
data = {
    'description': [
        'This tropical wine has fruity notes of pineapple',
        'A fruity wine with berry flavors',
        'Tropical fruit aromas with a hint of citrus',
        'Rich and fruity with tropical undertones',
        'Smooth with no tropical or fruity characteristics'
    ]
}
reviews = pd.DataFrame(data)

# Count occurrences (case-insensitive)
tropical_count = reviews['description'].str.contains('tropical', case=False).sum()
fruity_count = reviews['description'].str.contains('fruity', case=False).sum()

# Create the Series
descriptor_counts = pd.Series({
    'tropical': tropical_count,
    'fruity': fruity_count
})

# Display results
print("Word occurrences in wine descriptions:")
print(descriptor_counts)

# Determine which is more common
more_common = 'fruity' if fruity_count > tropical_count else 'tropical'
print(f"\nThe word '{more_common}' appears more frequently in descriptions")

Word occurrences in wine descriptions:
tropical    4
fruity      4
dtype: int64

The word 'tropical' appears more frequently in descriptions

In [15]:
import pandas as pd
import numpy as np

# Create sample data (replace with your actual data if needed)
data = {
    'points': [96, 88, 92, 84, 97, 82, 99],
    'country': ['Canada', 'US', 'France', 'Italy', 'Canada', 'Spain', 'Germany']
}
reviews = pd.DataFrame(data)

# Create star ratings based on conditions
conditions = [
    reviews['country'] == 'Canada',  # Canadian wines get 3 stars
    reviews['points'] >= 95,         # 95+ points gets 3 stars
    reviews['points'] >= 85,         # 85-94 points gets 2 stars
    True                             # All others get 1 star
]

choices = [3, 3, 2, 1]

star_ratings = pd.Series(
    np.select(conditions, choices),
    index=reviews.index,
    name='star_ratings'
)

# Display results
print("Wine reviews with star ratings:")
print(pd.concat([reviews, star_ratings], axis=1))

Wine reviews with star ratings:
   points  country  star_ratings
0      96   Canada             3
1      88       US             2
2      92   France             2
3      84    Italy             1
4      97   Canada             3
5      82    Spain             1
6      99  Germany             3

In [16]:
import pandas as pd

# Create sample data (replace with your actual data if needed)
data = {
    'taster_twitter_handle': [
        '@winecritic', '@vinogirl', '@winecritic',
        '@bevmaster', '@vinogirl', '@vinogirl',
        None, '@bevmaster', '@winelover'
    ]
}
reviews = pd.DataFrame(data)

# Create Series counting reviews per Twitter handle
review_counts = reviews['taster_twitter_handle'].value_counts()

# Display results
print("Number of reviews per wine critic:")
print(review_counts)

# Optional: Show as percentage of total reviews
print("\nPercentage of total reviews:")
print((review_counts / len(reviews) * 100)

SyntaxError: unexpected EOF while parsing (<ipython-input-16-a056dd657208>, line 22)

In [17]:
import pandas as pd

# Create sample data (replace with your actual data if needed)
data = {
    'price': [15, 50, 100, 50, 200, 15, 100],
    'points': [88, 92, 95, 90, 96, 89, 94]
}
reviews = pd.DataFrame(data)

# Create Series of max points per price
best_wines = reviews.groupby('price')['points'].max().sort_index()

# Display results
print("Maximum points achieved at each price point:")
print(best_wines)

# Optional: Find the best value wines (highest points per dollar)
print("\nBest value wines (points per dollar):")
print((best_wines / best_wines.index).sort_values(ascending=False).head())

Maximum points achieved at each price point:
price
15     89
50     92
100    95
200    96
Name: points, dtype: int64

Best value wines (points per dollar):
price
15     5.933333
50     1.840000
100    0.950000
200    0.480000
dtype: float64

In [18]:
import pandas as pd

# Create sample data (replace with your actual data if needed)
data = {
    'variety': ['Chardonnay', 'Pinot Noir', 'Cabernet', 'Chardonnay', 
               'Pinot Noir', 'Merlot', 'Cabernet', 'Merlot'],
    'price': [15, 25, 45, 20, 30, 22, 50, 18]
}
reviews = pd.DataFrame(data)

# Create DataFrame with min and max prices per variety
price_ranges = reviews.groupby('variety')['price'].agg(['min', 'max'])

# Display results
print("Price ranges for each wine variety:")
print(price_ranges)

# Optional: Add range column (max - min)
price_ranges['range'] = price_ranges['max'] - price_ranges['min']
print("\nWith price range calculation:")
print(price_ranges)

Price ranges for each wine variety:
            min  max
variety
Cabernet     45   50
Chardonnay   15   20
Merlot       18   22
Pinot Noir   25   30

With price range calculation:
            min  max  range
variety
Cabernet     45   50      5
Chardonnay   15   20      5
Merlot       18   22      4
Pinot Noir   25   30      5

In [19]:
import pandas as pd

# Using the previous example's output as starting point
price_ranges = pd.DataFrame({
    'min': [45, 15, 18, 25],
    'max': [50, 20, 22, 30],
    'range': [5, 5, 4, 5]
}, index=['Cabernet', 'Chardonnay', 'Merlot', 'Pinot Noir'])

# Sort varieties by min price (descending), then max price (descending)
sorted_varieties = price_ranges.sort_values(
    by=['min', 'max'],
    ascending=[False, False]
).copy()

# Display results
print("Wine varieties sorted by price (most expensive first):")
print(sorted_varieties)

# Optional: Highlight the top 3 most expensive varieties
print("\nTop 3 most expensive varieties:")
print(sorted_varieties.head(3))

Wine varieties sorted by price (most expensive first):
            min  max  range
Cabernet     45   50      5
Pinot Noir   25   30      5
Merlot       18   22      4
Chardonnay   15   20      5

Top 3 most expensive varieties:
            min  max  range
Cabernet     45   50      5
Pinot Noir   25   30      5
Merlot       18   22      4

In [20]:
import pandas as pd

# Create sample data (replace with your actual data if needed)
data = {
    'taster_name': ['Jane Smith', 'Robert Parker', 'Jane Smith', 
                   'Wine Enthusiast', 'Robert Parker', 'James Suckling'],
    'points': [92, 95, 88, 90, 96, 93]
}
reviews = pd.DataFrame(data)

# Calculate average points per reviewer
avg_scores = reviews.groupby('taster_name')['points'].mean()

# Sort by average score (descending) and display
avg_scores = avg_scores.sort_values(ascending=False)
print("Average review scores by critic:")
print(avg_scores)

# Optional: Show count of reviews per critic
print("\nNumber of reviews per critic:")
print(reviews['taster_name'].value_counts())

Average review scores by critic:
taster_name
Robert Parker      95.5
James Suckling     93.0
Wine Enthusiast    90.0
Jane Smith         90.0
Name: points, dtype: float64

Number of reviews per critic:
Robert Parker      2
Jane Smith         2
James Suckling     1
Wine Enthusiast    1
Name: taster_name, dtype: int64

In [21]:
import pandas as pd

# Create sample data (replace with your actual data if needed)
data = {
    'country': ['US', 'France', 'Italy', 'US', 'France', 'Italy', 'US', 'Spain'],
    'variety': ['Pinot Noir', 'Chardonnay', 'Sangiovese', 'Pinot Noir', 
               'Merlot', 'Sangiovese', 'Cabernet', 'Tempranillo']
}
reviews = pd.DataFrame(data)

# Create MultiIndex Series sorted by frequency
country_variety_counts = reviews.groupby(['country', 'variety']).size() \
                              .sort_values(ascending=False) \
                              .rename('wine_count')

# Display results
print("Most common country-variety combinations:")
print(country_variety_counts)

# Optional: Show top 3 combinations
print("\nTop 3 combinations:")
print(country_variety_counts.head(3))

Most common country-variety combinations:
country  variety
US       Pinot Noir     2
Italy    Sangiovese     2
US       Cabernet       1
Spain    Tempranillo    1
France   Merlot         1
         Chardonnay     1
Name: wine_count, dtype: int64

Top 3 combinations:
country  variety
US       Pinot Noir    2
Italy    Sangiovese    2
US       Cabernet      1
Name: wine_count, dtype: int64

In [22]:
import pandas as pd

# Create sample data (replace with your actual data if needed)
data = {
    'points': [90, 92, 85, 88, 94]
}
reviews = pd.DataFrame(data)

# Convert points to strings and create Series
points_str = reviews['points'].astype(str)

# Display result
print("Points as strings:")
print(points_str)
print(f"\nData type: {points_str.dtype}")

Points as strings:
0    90
1    92
2    85
3    88
4    94
Name: points, dtype: object

Data type: object

In [23]:
import pandas as pd

# Create sample data with null prices (replace with your actual data)
data = {
    'price': [20, None, 35, None, None, 50],
    'points': [90, 88, 92, 85, 89, 95]
}
reviews = pd.DataFrame(data)

# Count missing prices
missing_prices = reviews['price'].isna().sum()

# Display result
print(f"Number of reviews missing price: {missing_prices}")
print("\nSample rows with missing prices:")
print(reviews[reviews['price'].isna()].head())

Number of reviews missing price: 3

Sample rows with missing prices:
   price  points
1    NaN      88
3    NaN      85
4    NaN      89

In [24]:
import pandas as pd

# Create sample data (replace with your actual data)
data = {
    'region_1': ['Napa Valley', None, 'Willamette Valley', 'Napa Valley', 
                'Tuscany', None, 'Bordeaux', 'Napa Valley']
}
reviews = pd.DataFrame(data)

# Fill NA with 'Unknown', count occurrences, and sort
region_counts = reviews['region_1'].fillna('Unknown').value_counts().sort_values(ascending=False)

# Display results
print("Most common wine-producing regions:")
print(region_counts)

Most common wine-producing regions:
Napa Valley          3
Unknown              2
Bordeaux             1
Willamette Valley    1
Tuscany              1
Name: region_1, dtype: int64

In [25]:
import pandas as pd

# Create sample data (replace with your actual data)
data = {
    'region_1': ['Napa Valley', 'Willamette Valley', None],
    'region_2': ['Napa', 'Willamette', 'Sonoma'],
    'points': [94, 92, 89]
}
reviews = pd.DataFrame(data)

# Create copy with renamed columns
reviews_renamed = reviews.rename(
    columns={
        'region_1': 'region',
        'region_2': 'locale'
    }
).copy()

# Display original and renamed versions
print("Original columns:")
print(reviews.columns.tolist())
print("\nRenamed columns:")
print(reviews_renamed.columns.tolist())
print("\nRenamed DataFrame:")
print(reviews_renamed.head())

Original columns:
['region_1', 'region_2', 'points']

Renamed columns:
['region', 'locale', 'points']

Renamed DataFrame:
              region      locale  points
0        Napa Valley        Napa      94
1  Willamette Valley  Willamette      92
2               None      Sonoma      89

In [26]:
import pandas as pd

# Create sample data (replace with your actual data)
data = {
    'points': [92, 94, 90],
    'price': [25, 40, 30],
    'country': ['Italy', 'France', 'US']
}
reviews = pd.DataFrame(data)

# Set the index name
reviews.index.name = 'wines'

# Display result
print("DataFrame with named index:")
print(reviews.head())

# Verify index name
print("\nIndex name:", reviews.index.name)

DataFrame with named index:
       points  price country
wines
0          92     25   Italy
1          94     40  France
2          90     30      US

Index name: wines